/* This file is for your main application css. */
@import "./phoenix.css";
@import "./icons.scss";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.room-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    // margin: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;

    // &:hover {
    //   background: grey;
    // }
  }
}

.chat-room {
  // display: grid;
  // flex-wrap: wrap;
  // justify-content: center;
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr minmax(150px, 25%);

  // .box {
  //   flex: 0 0, 500px;
  // }
}

.online-status ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.btn-logout {
  display: inline;
}

form.form-login .form-group > * {
  display: inline-block;

  input[type="text"] {
    width: auto;
  }
}

form#chat-form {
  input[type="text"],
  .form-group {
    display: flex;
  }
  #user-name:disabled {
    border-width: 0px;
    font-size: 20px;
    padding: 20px;
  }
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
